.change-theme-btn {
  border-radius: 10px;
  color: var(--background);
  background-color: var(--text-primary);
  border: 2px var(--text-primary) solid;
  float: right;
  height: 3vh !important;
  transition: all .5s ease;
}

.change-theme-btn:hover {
  border: 4px royalblue solid;
}

.movie-app {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: 100%;
  transition: all .5s;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie {
  height: 100%;
  width: auto;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
 cursor: pointer;
 transform: scale(1.1);
}

.overlay {
  position: absolute;
  background: var(--background-08);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay-Name {
  position: absolute;
  background: var(--background-08);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.image-container:hover .overlay-Name{
  opacity: 1;
}

.image-container:hover .overlay{
  opacity: 1;
}

.heart-ico {
  margin-left: 5px !important;
  margin-top: 5px !important;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.social{
  transition: all .5s;
}

.social:hover {
  color: royalblue;
}

@media only screen and (max-height: 600px) {
  .movie-app {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: large;
    font-weight: bold;
    padding: 20px;
    height: 100vh;
    transition: all .5s;
  }
  
}