:root {
  --background: rgba(255, 255, 255, 1);
  --background-08: rgba(255, 255, 255, 0.8);
  --text-primary: rgba(20, 20, 20, 1);
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme='dark'] {
  --background: rgba(20, 20, 20, 1);
  --background-08: rgba(20, 20, 20, 0.8);
  --text-primary: rgba(255, 255, 255, 1);
  --text-secondary: grey;
  --accent: darkred;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
